@charset "UTF-8";
html,body{
    width: 100%;
    height: 100%;
    font-size: 13px;
}
.mui-bar-nav~.mui-content{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f3f5f9;
}
.search-list-box input{
    margin: 0;
    padding-left: 27px;
    border: none;
    border-bottom: 1px solid #ececec;
    color: #999999;
    border-radius: 0px;
    font-size: 13px;
}
.select-tree{
    position: absolute;
    top: 124px;
    bottom: 89px;
    left: 0;
    right: 0;
}
.select-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    background: #fff;
    overflow: auto;
}
.select-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    right: 0;
}
.select-nav-list li{
    position: relative;
    padding: 12px 0;
    text-align: center;
}
.select-nav-list li.select{
    color: #ffab1a;
}
.select-nav-list li.select:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 20px;
    background-color: #ffab1a;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
}
.select-content-title{
    color: #999;
    padding: 12px 10px;
}
.select-content-list{
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
}
.select-content-list li{
    padding: 0 10px;
    height: 27px;
    color: #383838;
    margin-left: 6px;
    margin-bottom: 7px;
    border: 1px solid #ececec;
    background: #fff;
    border-radius: 4px;
    line-height: 27px;
}
.select-content-list li.select{
    color: #ffab1a;
    border: 1px solid #ffab1a;
}
.select-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ececec;
    padding: 20px 16px;
    background: #fff;
}
.select-btn button{
    width: 100%;
    height: 49px;
    border-radius: 8px;
    color: #fff;
    background: #ffab1a;
    border: none;
    font-size: 20px;
}
.select-box{
    display: none;
    position: relative;
    padding-bottom: 20px;
    padding-left: 37px;
}
.select-box span{
    position: absolute;
    left: 0;
    top: 0;
    color: #999999;

}
.select-box-list{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    max-height: 150px;
    overflow: auto;
}
.select-box-list li{
    padding: 0 10px;
    height: 27px;
    color: #ffab1a;
    margin-left: 6px;
    margin-bottom: 7px;
    border: 1px solid #ffab1a;
    background: #fff;
    border-radius: 4px;
    line-height: 27px;
}
.close{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    background: url("../images/icon_close.png");
    background-size: 100% 100%;
}